package components

templ navbar() {
	<header>
		<h1>Kaare's Web Store</h1>
		<p>A simple project by Kaare</p>
		<nav>
			<ul>
				<li>
					<a href="/">Overview</a>
				</li>
			</ul>
		</nav>
	</header>
}
