package views

import (
	"github.com/devkaare/web-store/views/components"
)

templ AdminPanelPage() {
	@components.Base("Admin Panel") {
		<div id="panel">
			<h1>Create A New Product</h1>
			<form hx-post="/products" hx-target="#panel" hx-swap="outerHTML" enctype="multipart/form-data">
				<label for="category_name">Category Name:</label>
				<select name="category_name" id="category_name">
					<option value="">--Please choose an option--</option>
					<option value="shirt">Shirt</option>
					<option value="pants">Pants</option>
					<option value="shoes">Shoes</option>
					<option value="accessories">Accessories</option>
				</select>
				<br/>
				<br/>
				<label for="product_name">Product Name:</label>
				<input type="text" id="product_name" name="product_name" required/>
				<br/>
				<br/>
				<label for="price">Price:</label>
				<input id="price" name="price" type="number" min="1" value="1"/>
				<br/>
				<br/>
				<label for="description">Description:</label>
				<textarea id="description" name="description" rows="4" cols="50" required></textarea>
				<br/>
				<br/>
				<input type="file" name="image" id="image" accept="image/png, image/jpeg"/>
				<input type="submit" value="CREATE"/>
			</form>
			<form hx-delete="/products" hx-params="product_id" hx-target="#panel" hx-swap="outerHTML">
				<label for="product_id">Product ID:</label>
				<input id="product_id" name="product_id" type="number"/>
				<input type="submit" value="DELETE"/>
			</form>
		</div>
	}
}
