package views

import (
	"fmt"
	"path/filepath"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/slug"
)

type CartItemProp struct {
	CartItemID        int
	ShoppingSessionID int
	ProductID         int
	Quantity          int
	Name              string
	Price             int
	ImagePath         string
}

templ CartPage(cartItems []CartItemProp) {
	@components.Base() {
		for _, p := range cartItems {
			<div>
				<img src={ fmt.Sprintf("%s", templ.URL(filepath.Join("/assets/product-imgs/", fmt.Sprintf("%s.png", slug.CreateSlug(p.Name))))) }/>
				<div>
					<a href={ templ.URL(fmt.Sprintf("/products/%d", p.ProductID)) }>{ p.Name }</a>
					<p>{ fmt.Sprintf("%d", p.Price) }</p>
				</div>
				<p>{ fmt.Sprintf("%d", p.Quantity) }</p>
				<div>
					<input hx-post={ string(templ.URL(fmt.Sprintf("/cart/update/%d", p.ProductID))) } hx-trigger="keyup changed delay:1s" type="number" id="quantity" name="quantity" min="1" max="50"/>
					<a hx-post={ string(templ.URL(fmt.Sprintf("/cart/increment/%d", p.ProductID))) }>INCREMENT</a>
					<a hx-post={ string(templ.URL(fmt.Sprintf("/cart/decrement/%d", p.ProductID))) }>DECREMENT</a>
					<a hx-post={ string(templ.URL(fmt.Sprintf("/cart/remove/%d", p.ProductID))) }>REMOVE</a>
				</div>
			</div>
		}
	}
}
