package views

import (
	"fmt"

	"github.com/devkaare/web-store/views/components"
)

templ cart(cart []cartProp) {
	@components.Base() {
		for _, i := range cart {
			<p>{ i.Name } <strong>{ string(templ.SafeURL(fmt.Sprintf("%d", i.Price))) }</strong></p>
			<p>{ i.Size } { string(templ.SafeURL(fmt.Sprintf("%d", i.Quantity))) }</p>
		}
	}
}
