package views

import (
	"github.com/devkaare/web-store/views/components"
)

templ CancelPage() {
	@components.Base("Checkout") {
		<div>
			<h1>Whoops! Something went wrong</h1>
			<p>Your order was canceled, if this was a mistake or you have any other questions, feel free to contact us <a href="mailto:johndoe@gmail.com">here</a></p>
		</div>
	}
}
