package views

import (
	"fmt"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/model"
	"encoding/json"
)

type ProductProp struct {
	ProductID int
	Name      string
	Price     int
	Sizes     []string
	ImagePath string
}

func getProductSizes(p *model.Product) []string {
	var sizes []string
	_ = json.Unmarshal([]byte(p.Sizes), &sizes)
	return sizes
}

templ HomePage(currentPage, lastPage int, products []model.Product) {
	@components.Base() {
		for _, p := range products {
			<div>
				<h3>{ p.Name }</h3>
				<img src={ string(templ.URL(p.ImagePath)) }/>
				<p><strong>${ fmt.Sprintf("%d", p.Price) }</strong></p>
				<a href={ templ.URL(fmt.Sprintf("/listings/%d", p.ProductID)) }>View</a>
				// HTMX version `string(templ.URL(fmt.Sprintf("/listingsq/%d", p.ProductID)))`
			</div>
		}
		@components.Paginator(currentPage, lastPage)
	}
}
