package views

import (
	"fmt"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/model"
)

templ index(products []model.Product) {
	@components.Base() {
		for _, p := range products {
			<div>
				<img src={ p.ImagePath }/>
				<p>{ p.Name } <strong>${ fmt.Sprintf("%d", p.Price) }</strong></p>
				<a href={ templ.URL(fmt.Sprintf("/products/%d", p.ProductID)) }>View</a>
			</div>
		}
		// TODO: Add page nav buttons
	}
}
