package views

import (
	"github.com/devkaare/web-store/views/components"
)

templ IndexPage() {
	@components.Base("Main") {
		<div>
			<h1>Welcome!</h1>
			<p>Something about the webstore!</p>
			<a href="/products">Products</a>
		</div>
	}
}
