package views

import (
	"path/filepath"
	"fmt"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/slug"
)

type OrderItemProp struct {
	OrderItemID    int
	OrderDetailsID int
	ProductID      int
	Quantity       int
	Name           string
	Price          int
	ImagePath      string
}

templ OrderPage(orderItems []OrderItemProp) {
	@components.Base() {
		<h1>{ fmt.Sprintf("Order ID: %d", orderItems[0].OrderDetailsID) }</h1>
		for _, p := range orderItems {
			<div>
				<img src={ fmt.Sprintf("%s", templ.URL(filepath.Join("/assets/product-imgs/", fmt.Sprintf("%s.png", slug.CreateSlug(p.Name))))) }/>
				<div>
					<a href={ templ.URL(fmt.Sprintf("/listings/%d", p.ProductID)) }>{ p.Name }</a>
					<p>{ fmt.Sprintf("%d", p.Price) }</p>
				</div>
				<p>{ fmt.Sprintf("%d", p.Quantity) }</p>
			</div>
		}
	}
}
