package views

import (
	"fmt"
	"path/filepath"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/model"
	"github.com/devkaare/web-store/slug"
)

templ ProductPage(p *model.Product) {
	@components.Base("Product") {
		<div>
			<img src={ fmt.Sprintf("%s", templ.URL(filepath.Join("/assets/product-imgs/", fmt.Sprintf("%s.png", slug.CreateSlug(p.Name))))) }/>
			<div>
				<h2>{ p.Name }</h2>
				<p>{ fmt.Sprintf("$%d", p.Price) }</p>
			</div>
			<p>{ p.Description }</p>
			<form hx-post={ string(templ.URL(fmt.Sprintf("/cart/%d", p.ProductID))) }>
				<input type="number" id="quantity" name="quantity" min="1" max="50" value="1"/>
				<input type="submit" value="ADD TO CART"/>
			</form>
		</div>
	}
}
