package views

import (
	"fmt"

	"github.com/devkaare/web-store/views/components"
	"github.com/devkaare/web-store/model"
)

templ ProductListingsPage(products []model.Product, currentPage, lastPage int) {
	@components.Base() {
		for _, p := range products {
			<div>
				<img src={ fmt.Sprintf("%s", templ.URL(p.ImagePath)) }/>
				<a href={ templ.URL(fmt.Sprintf("/products/%d", p.ProductID)) }>{ p.Name }</a>
				<p>{ fmt.Sprintf("%d", p.Price) }</p>
			</div>
		}
		@components.Paginator(currentPage, lastPage)
	}
}
