package views

import "github.com/devkaare/web-store/views/components"

templ signIn() {
	@components.Base() {
		<div>
			<h1>Sign In</h1>
			<form action="/auth/signin" method="post">
				<label for="email">Email:</label>
				<input type="text" id="email" name="email"/>
				<br/>
				<br/>
				<label for="password">Password:</label>
				<input type="text" id="password" name="password"/>
				<br/>
				<br/>
				<input type="submit" value="Submit"/>
			</form>
			<a href="/signup">Sign Up</a>
		</div>
	}
}

templ signUp() {
	@components.Base() {
		<div>
			<h1>Sign Up</h1>
			<form action="/auth/signup" method="post">
				<label for="first_name">First Name:</label>
				<input type="text" id="first_name" name="first_name"/>
				<br/>
				<br/>
				<label for="last_name">Last Name:</label>
				<input type="text" id="last_name" name="last_name"/>
				<br/>
				<br/>
				<label for="email">Email:</label>
				<input type="text" id="email" name="email"/>
				<br/>
				<br/>
				<label for="password">Password:</label>
				<input type="text" id="password" name="password"/>
				<br/>
				<br/>
				<label for="verif_password">Verify Password:</label>
				<input type="text" id="verif_password" name="verif_password"/>
				<br/>
				<br/>
				<input type="submit" value="Submit"/>
			</form>
			<a href="/signin">Sign In</a>
		</div>
	}
}
