package views

import (
	"github.com/devkaare/web-store/views/components"
)

templ SignInPage() {
	@components.Base("Sign In") {
		<div>
			<h1>Sign In</h1>
			<form hx-post="/auth/signin" hx-target="this" hx-swap="outerHTML">
				<label for="email">Email:</label>
				<input type="text" id="email" name="email" required/>
				<br/>
				<br/>
				<label for="password">Password:</label>
				<input type="text" id="password" name="password" required/>
				<br/>
				<br/>
				<input type="submit" value="Submit"/>
				<a href="/signup">Sign Up</a>
			</form>
		</div>
	}
}
